.footer-top {
    background-color: $mainColor;

    .container {
        height: 150px;

        font-family: "Bangers", cursive;
        font-size: 14px;

        display: flex;
        justify-content: space-around;
    }

    .footer-top-item {
        width: 236px;
        height: 55px;

        display: flex;
        align-items: center;
        justify-content: center;

        a {
            color: white;

            display: flex;
            align-items: center;

            img {
                height: 55px;
                margin-right: 10px;
            }
        }

        &:last-child {
            img {
                height: 35px;
            }
        }
    }
}

.footer-middle {
    background-image: url("../../assets/img/footer-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;

    .container {
        padding: 40px 14px 50px;

        align-items: flex-start;
        flex-wrap: wrap;

        font-family: "Bangers", cursive;

        position: relative;
    }

    .category {
        padding-right: 30px;

        h3 {
            font-size: 26px;
            color: white;

            margin-bottom: 10px;
        }

        li {
            font-size: 13px;

            margin: 4px 0;

            a {
                color: #959595;

                &:hover {
                    color: $mainColor;
                }
            }
        }
    }

    #dc-logo-bg {
        position: absolute;

        top: -100px;
        right: 0px;
    }
}

.footer-bottom {
    background-color: $tertiaryColor;

    .container {
        padding: 30px 14px;

        justify-content: space-between;

        font-family: "Bangers", cursive;
    }

    button {
        font-family: "Bangers", cursive;
        font-size: 20px;

        padding: 12px;
    }

    #footer-bottom-dx {
        display: flex;
        align-items: center;

        span {
            font-size: 26px;
            padding-right: 10px;

            color: $mainColor;
        }

        ul {
            display: flex;

            li {
                margin-left: 15px;
            }
        }
    }
}
